<ion-header>
  <ion-toolbar color="warning">
    <ion-title>AkompList</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-input type="text" label="Name" fill="outline" #name [(ngModel)] = "myName"></ion-input> <br>
  <ion-input type="email" label="Email" fill="outline" #email [(ngModel)] = "myEmail"></ion-input> <br>

  <ion-button *ngIf="default else showOther" (click)="callCreate(name.value, email.value)">Create</ion-button>
  <ng-template #showOther>
    <ion-button (click)="callRead()">Cancel</ion-button>
  </ng-template>

  <ion-list lines="full">
    <ion-item-sliding *ngFor = "let s of students" (ionDrag)= "selected(s.id , s.name, s.email)">
      <ion-item button detail="true">
        <ion-icon name="person-circle" slot="start"></ion-icon>
        {{s.id}} - {{s.name}}
      </ion-item>

      <ion-item-options>
        <ion-item-option>
          <ion-icon name="save" slot="icon-only" (click)="callUpdate(s.id, name.value, email.value)"></ion-icon>
        </ion-item-option>        
        <ion-item-option color="danger" (click) ="callDelete(s.id)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>        
        <ion-item-option color = "dark" (click)="callRead()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>